body {
  background-color: #CA5652;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header nav, header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li:not(:last-child) {
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
    width: 720px;
    margin: 0 auto;
}

.btn {
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.2);;
  color: #fff;
  font-size: .9rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.profile {
  background: #936C61;
  color: #fff;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.btn img, .logo img {
  width: 22px;
  margin-right: 1px;
}

.btn.profile:hover {
  background: #936C61;
  color: #ddd;
}