body {
  background-color: #CA5652;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header nav, header nav ul, .menu ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li:not(:last-child) {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
    width: 720px;
    margin: 0 auto;
}

.btn {
  padding: 5px 10px;
  color: #fff;
  font-size: .9rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.profile {
  background: #936C61;
  color: #fff;
  font-size: 1.2rem;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.btn img, .logo img {
  width: 22px;
  margin-right: 3px;
}

.btn.profile:hover {
  background: #936C61;
  color: #ddd;
}

.card {
  width: 350px;
  margin: 0 auto;
  background: #CF6764;
  padding: 20px 40px;
  margin-top: 40px;
  border-radius: 7px;
}

#countdown {
  font-size: 7rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.controls {
  text-align: center;
}

.start-btn {
  padding: 18px 70px;
  background: #fff;
  color: #CA5652;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  border: none;
  border-bottom: 6px solid #EBEBEB;
  cursor: pointer;
}

.bg-light {
  background: rgba(255, 255, 255, 0.2);
}

.bg-dark {
  background: #B05855 !important;
}

.cycles {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

.cycles span {
  color: lightgray;
}



